.wpb h2{
    margin-bottom: 30px;
margin-top: 30px;
font-size: 30px;
text-transform: uppercase;
color: #8e8d8d;

}
.wpb{
    box-sizing: border-box;
padding-left: 15px;
padding-right: 15px;
width: 90%;
}
.tagline{
    padding-left: 15px;
padding-right: 15px;
color: #8e8d8d;
font-size: 14px;
line-height: 26px;
}
.ppb-header{
    margin: 0;
    padding: 0;
}
.ppb-header p{
    margin-bottom: 10px;
line-height: 26px;
}
.ppb-header h3{
    margin-bottom: 30px;
margin-top: 30px;
font-size: 24px;
color: #8e8d8d;
}
.ppb-header b{
    color: #3d3d3d;
font-size: 18px;
font-weight: 400;
text-transform: uppercase;

letter-spacing: 0.5px;

}
.milazo-img{
    width: 563px;
}
.mil-m{
    margin-bottom: 30px;
margin-top: 30px;
text-transform: uppercase;
color: #8e8d8d;
}
.mil-m h2{
    margin-bottom: 30px;
margin-top: 30px;
text-transform: uppercase;
}
.tagline2{
    color: #8e8d8d;
font-size: 14px;
line-height: 26px;
text-transform: lowercase;
}
/* .container{
    width: 1170px !important;
} */
@media only screen and (min-width: 1200px){
    .container{
        width: 1170px;
    }
} 
.mt-5r{
    margin-top: 5rem;
}